<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="">
	<resultMap type="com.ares.promotion.entity.bean.PrmtLocationBean"
		id="PrmtLocation">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="PRMT_CODE" jdbcType="VARCHAR" property="prmtCode" />
		<result column="MIN_LEVEL" jdbcType="TINYINT" property="minLevel" />
		<result column="COUNTRY_CODE" jdbcType="VARCHAR" property="countryCode" />
		<result column="COUNTRY_NAME" jdbcType="VARCHAR" property="countryName" />
		<result column="PROVINCE_CODE" jdbcType="VARCHAR" property="provinceCode" />
		<result column="PROVINCE_NAME" jdbcType="VARCHAR" property="provinceName" />
		<result column="CITY_CODE" jdbcType="VARCHAR" property="cityCode" />
		<result column="CITY_NAME" jdbcType="VARCHAR" property="cityName" />
		<result column="AREA_CODE" jdbcType="VARCHAR" property="areaCode" />
		<result column="AREA_NAME" jdbcType="VARCHAR" property="areaName" />
		<result column="ENTITY_STORE_CODE" jdbcType="VARCHAR" property="entityStoreCode" />
		<result column="ENTITY_STORE_NAME" jdbcType="VARCHAR" property="entityStoreName" />
		<result column="CREATE_TIME" jdbcType="DATETIME" property="createTime" />
		<result column="CREATE_USER_ID" jdbcType="VARCHAR" property="createUserId" />
		<result column="UPDATE_TIME" jdbcType="DATETIME" property="updateTime" />
		<result column="UPDATE_USER_ID" jdbcType="VARCHAR" property="updateUserId" />
		<result column="ACTIVE_FLAG" jdbcType="BIT" property="activeFlag" />
	</resultMap>
</mapper> 