<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="">
	<resultMap type="com.ares.promotion.entity.bean.PrmtCustomerGroupBean"
		id="PrmtCustomerGroup">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="CUSTOMER_GROUP_CODE" jdbcType="VARCHAR"
			property="customerGroupCode" />
		<result column="CUSTOMER_GROUP_NAME" jdbcType="VARCHAR"
			property="customerGroupName" />
		<result column="SOURCE_TYPE" jdbcType="TINYINT" property="sourceType" />
		<result column="CUSTOMER_GROUP_DESC" jdbcType="VARCHAR"
			property="customerGroupDesc" />
		<result column="CREATE_TIME" jdbcType="DATETIME" property="createTime" />
		<result column="CREATE_USER_ID" jdbcType="VARCHAR" property="createUserId" />
		<result column="UPDATE_TIME" jdbcType="DATETIME" property="updateTime" />
		<result column="UPDATE_USER_ID" jdbcType="VARCHAR" property="updateUserId" />
		<result column="ACTIVE_FLAG" jdbcType="BIT" property="activeFlag" />
	</resultMap>
</mapper>