<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="">
	<resultMap type="com.ares.promotion.entity.bean.PrmtRewardBean"
		id="PrmtReward">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="PRMT_RULE_ID" jdbcType="BIGINT" property="prmtRuleId" />
		<result column="REWARD_TYPE" jdbcType="TINYINT" property="rewardType" />
		<result column="REWARD_AMOUNT_TYPE" jdbcType="TINYINT"
			property="rewardAmountType" />
		<result column="REWARD_AMOUNT" jdbcType="DECIMAL" property="rewardAmount" />
		<result column="REWARD_AMOUNT2" jdbcType="TINYINT" property="rewardAmount2" />
		<result column="POINT_DISCOUNT_FLAG" jdbcType="BIT"
			property="pointDiscountFlag" />
		<result column="REWARD_DESC" jdbcType="VARCHAR" property="rewardDesc" />
		<result column="SINGLE_MAX_AMOUNT" jdbcType="DECIMAL" property="singleMaxAmount" />
		<result column="CREATE_TIME" jdbcType="DATETIME" property="createTime" />
		<result column="CREATE_USER_ID" jdbcType="VARCHAR" property="createUserId" />
		<result column="UPDATE_TIME" jdbcType="DATETIME" property="updateTime" />
		<result column="UPDATE_USER_ID" jdbcType="VARCHAR" property="updateUserId" />
		<result column="ACTIVE_FLAG" jdbcType="BIT" property="activeFlag" />
	</resultMap>
</mapper> 